@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --gray: #f5f5ef;
    --brown: #c6a788;
    --dark-blue: #283d48;
    --white: #ffffff;
}

body {
    font-family: "Sedan", serif;
    scroll-behavior: smooth;
}

.index-body {
    background: var(--gray);
}

.container {
    background:var(--gray);
    max-width: 100%;
    height: 100svh;
    padding: 2em 6em;
    position: relative;
}

.content {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}
.content h1 {
    width: 12em;
    font-size: 3.5rem;
    font-weight: 800;
    margin-bottom: 0.5em;
    margin-top: 0.8em;
}

.content h3{
    font-size: 1.5rem;
    margin-bottom: 1em;
    color: var(--brown);
}
.content img {
    width: 100%;
    max-height: 700px;
}

.content button {
    padding: 1em 3em;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
}
.content-left {
    max-width: 100%;
}
.index .content-right img {
    min-width: 300px;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 2px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #fff,25vw -41vh 0px 0px #fff,-20vw 49vh 0px 1px #fff,5vw 40vh 1px 1px #fff,29vw 19vh 1px 0px #fff,-44vw -13vh 0px 0px #fff,46vw 41vh 0px 1px #fff,-3vw -45vh 0px 1px #fff,47vw 35vh 1px 0px #fff,12vw -8vh 1px 0px #fff,-34vw 48vh 1px 1px #fff,32vw 26vh 1px 1px #fff,32vw -41vh 1px 1px #fff,0vw 37vh 1px 1px #fff,34vw -26vh 1px 0px #fff,-14vw -49vh 1px 0px #fff,-12vw 45vh 0px 1px #fff,-44vw -33vh 0px 1px #fff,-13vw 41vh 0px 0px #fff,-36vw -11vh 0px 1px #fff,-23vw -24vh 1px 0px #fff,-38vw -27vh 0px 1px #fff,16vw -19vh 0px 0px #fff,28vw 33vh 1px 0px #fff,-49vw -4vh 0px 0px #fff,16vw 32vh 0px 1px #fff,36vw -18vh 1px 0px #fff,-25vw -30vh 1px 0px #fff,-23vw 24vh 0px 1px #fff,-2vw -35vh 1px 1px #fff,-25vw 9vh 0px 0px #fff,-15vw -34vh 0px 0px #fff,-8vw -19vh 1px 0px #fff,-20vw -20vh 1px 1px #fff,42vw 50vh 0px 1px #fff,-32vw 10vh 1px 0px #fff,-23vw -17vh 0px 0px #fff,44vw 15vh 1px 0px #fff,-40vw 33vh 1px 1px #fff,-43vw 8vh 0px 0px #fff,-48vw -15vh 1px 1px #fff,-24vw 17vh 0px 0px #fff,-31vw 50vh 1px 0px #fff,36vw -38vh 0px 1px #fff,-7vw 48vh 0px 0px #fff,15vw -32vh 0px 0px #fff,29vw -41vh 0px 0px #fff,2vw 37vh 1px 0px #fff,7vw -40vh 1px 1px #fff,15vw 18vh 0px 0px #fff,25vw -13vh 1px 1px #fff,-46vw -12vh 1px 1px #fff,-18vw 22vh 0px 0px #fff,23vw -9vh 1px 0px #fff,50vw 12vh 0px 1px #fff,45vw 2vh 0px 0px #fff,14vw -48vh 1px 0px #fff,23vw 43vh 0px 1px #fff,-40vw 16vh 1px 1px #fff,20vw -31vh 0px 1px #fff,-17vw 44vh 1px 1px #fff,18vw -45vh 0px 0px #fff,33vw -6vh 0px 0px #fff,0vw 7vh 0px 1px #fff,-10vw -18vh 0px 1px #fff,-19vw 5vh 1px 0px #fff,1vw 42vh 0px 0px #fff,22vw 48vh 0px 1px #fff,39vw -8vh 1px 1px #fff,-6vw -42vh 1px 0px #fff,-47vw 34vh 0px 0px #fff,-46vw 19vh 0px 1px #fff,-12vw -32vh 0px 0px #fff,-45vw -38vh 0px 1px #fff,-28vw 18vh 1px 0px #fff,-38vw -46vh 1px 1px #fff,49vw -6vh 1px 1px #fff,-28vw 18vh 1px 1px #fff,10vw -24vh 0px 1px #fff,-5vw -11vh 1px 1px #fff,33vw -8vh 1px 0px #fff,-16vw 17vh 0px 0px #fff,18vw 27vh 0px 1px #fff,-8vw -10vh 1px 1px #fff;
  
  /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */
  
  box-shadow: 24vw 9vh 1px 0px #fff,12vw -24vh 0px 1px #fff,-45vw -22vh 0px 0px #fff,-37vw -40vh 0px 1px #fff,29vw 19vh 0px 1px #fff,4vw -8vh 0px 1px #fff,-5vw 21vh 1px 1px #fff,-27vw 26vh 1px 1px #fff,-47vw -3vh 1px 1px #fff,-28vw -30vh 0px 1px #fff,-43vw -27vh 0px 1px #fff,4vw 22vh 1px 1px #fff,36vw 23vh 0px 0px #fff,-21vw 24vh 1px 1px #fff,-16vw 2vh 1px 0px #fff,-16vw -6vh 0px 0px #fff,5vw 26vh 0px 0px #fff,-34vw 41vh 0px 0px #fff,1vw 42vh 1px 1px #fff,11vw -13vh 1px 1px #fff,48vw -8vh 1px 0px #fff,22vw -15vh 0px 0px #fff,45vw 49vh 0px 0px #fff,43vw -27vh 1px 1px #fff,20vw -2vh 0px 0px #fff,8vw 22vh 0px 1px #fff,39vw 48vh 1px 1px #fff,-21vw -11vh 0px 1px #fff,-40vw 45vh 0px 1px #fff,11vw -30vh 1px 0px #fff,26vw 30vh 1px 0px #fff,45vw -29vh 0px 1px #fff,-2vw 18vh 0px 0px #fff,-29vw -45vh 1px 0px #fff,-7vw -27vh 1px 1px #fff,42vw 24vh 0px 0px #fff,45vw -48vh 1px 0px #fff,-36vw -18vh 0px 0px #fff,-44vw 13vh 0px 1px #fff,36vw 16vh 0px 1px #fff,40vw 24vh 0px 0px #fff,18vw 11vh 0px 0px #fff,-15vw -23vh 1px 0px #fff,-24vw 48vh 0px 1px #fff,27vw -45vh 1px 0px #fff,-2vw -24vh 0px 1px #fff,-15vw -28vh 0px 0px #fff,-43vw 13vh 1px 0px #fff,7vw 27vh 1px 0px #fff,47vw 5vh 0px 0px #fff,-45vw 15vh 1px 1px #fff,-5vw -28vh 0px 1px #fff,38vw 25vh 1px 1px #fff,-39vw -1vh 1px 0px #fff,5vw 0vh 1px 0px #fff,49vw 13vh 0px 0px #fff,48vw 10vh 0px 1px #fff,19vw -28vh 0px 0px #fff,4vw 7vh 0px 0px #fff,21vw 21vh 1px 1px #fff,-15vw -15vh 0px 1px #fff,-6vw -42vh 1px 0px #fff,-15vw 48vh 1px 1px #fff,-23vw 25vh 1px 1px #fff,-48vw 25vh 0px 1px #fff,-31vw -19vh 0px 1px #fff,4vw 37vh 1px 1px #fff,-43vw 28vh 0px 0px #fff,3vw -25vh 0px 1px #fff,-39vw 14vh 0px 1px #fff,-40vw 31vh 0px 1px #fff,35vw -36vh 1px 1px #fff,16vw 49vh 0px 0px #fff,6vw 39vh 0px 0px #fff,3vw -35vh 0px 1px #fff,-44vw -2vh 1px 0px #fff,-6vw 21vh 1px 0px #fff,48vw 9vh 1px 1px #fff,-43vw 30vh 1px 1px #fff,29vw -12vh 1px 1px #fff,-48vw 13vh 1px 0px #fff,-42vw 32vh 1px 1px #fff,34vw 15vh 1px 1px #fff,29vw -37vh 1px 1px #fff,28vw 2vh 0px 0px #fff;
  animation: zoom 10s alternate infinite; 
}

.stars {
    height: 8px;
    width: 8px;
    box-shadow: -42vw -4vh 0px 0px var(--brown),25vw -41vh 0px 0px var(--brown),-20vw 49vh 0px 1px var(--brown),5vw 40vh 1px 1px var(--brown),29vw 19vh 1px 0px var(--brown),-44vw -13vh 0px 0px var(--brown),46vw 41vh 0px 1px var(--brown),-3vw -45vh 0px 1px var(--brown),47vw 35vh 1px 0px var(--brown),12vw -8vh 1px 0px var(--brown),-34vw 48vh 1px 1px var(--brown),32vw 26vh 1px 1px var(--brown),32vw -41vh 1px 1px var(--brown),0vw 37vh 1px 1px var(--brown),34vw -26vh 1px 0px var(--brown),-14vw -49vh 1px 0px var(--brown),-12vw 45vh 0px 1px var(--brown),-44vw -33vh 0px 1px var(--brown),-13vw 41vh 0px 0px var(--brown),-36vw -11vh 0px 1px var(--brown),-23vw -24vh 1px 0px var(--brown),-38vw -27vh 0px 1px var(--brown),16vw -19vh 0px 0px var(--brown),28vw 33vh 1px 0px var(--brown),-49vw -4vh 0px 0px var(--brown),16vw 32vh 0px 1px var(--brown),36vw -18vh 1px 0px var(--brown),-25vw -30vh 1px 0px var(--brown),-23vw 24vh 0px 1px var(--brown),-2vw -35vh 1px 1px var(--brown),-25vw 9vh 0px 0px var(--brown),-15vw -34vh 0px 0px var(--brown),-8vw -19vh 1px 0px var(--brown),-20vw -20vh 1px 1px var(--brown),42vw 50vh 0px 1px var(--brown),-32vw 10vh 1px 0px var(--brown),-23vw -17vh 0px 0px var(--brown),44vw 15vh 1px 0px var(--brown),-40vw 33vh 1px 1px var(--brown),-43vw 8vh 0px 0px var(--brown),-48vw -15vh 1px 1px var(--brown),-24vw 17vh 0px 0px var(--brown),-31vw 50vh 1px 0px var(--brown),36vw -38vh 0px 1px var(--brown),-7vw 48vh 0px 0px var(--brown),15vw -32vh 0px 0px var(--brown),29vw -41vh 0px 0px var(--brown),2vw 37vh 1px 0px var(--brown),7vw -40vh 1px 1px var(--brown),15vw 18vh 0px 0px var(--brown),25vw -13vh 1px 1px var(--brown),-46vw -12vh 1px 1px var(--brown),-18vw 22vh 0px 0px var(--brown),23vw -9vh 1px 0px var(--brown),50vw 12vh 0px 1px var(--brown),45vw 2vh 0px 0px var(--brown),14vw -48vh 1px 0px var(--brown),23vw 43vh 0px 1px var(--brown),-40vw 16vh 1px 1px var(--brown),20vw -31vh 0px 1px var(--brown),-17vw 44vh 1px 1px var(--brown),18vw -45vh 0px 0px var(--brown),33vw -6vh 0px 0px var(--brown),0vw 7vh 0px 1px var(--brown),-10vw -18vh 0px 1px var(--brown),-19vw 5vh 1px 0px var(--brown),1vw 42vh 0px 0px var(--brown),22vw 48vh 0px 1px var(--brown),39vw -8vh 1px 1px var(--brown),-6vw -42vh 1px 0px var(--brown),-47vw 34vh 0px 0px var(--brown),-46vw 19vh 0px 1px var(--brown),-12vw -32vh 0px 0px var(--brown),-45vw -38vh 0px 1px var(--brown),-28vw 18vh 1px 0px var(--brown),-38vw -46vh 1px 1px var(--brown),49vw -6vh 1px 1px var(--brown),-28vw 18vh 1px 1px var(--brown),10vw -24vh 0px 1px var(--brown),-5vw -11vh 1px 1px var(--brown),33vw -8vh 1px 0px var(--brown),-16vw 17vh 0px 0px var(--brown),18vw 27vh 0px 1px var(--brown),-8vw -10vh 1px 1px var(--brown);
  
  /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */
  
  box-shadow: 24vw 9vh 1px 0px var(--brown),12vw -24vh 0px 1px var(--brown),-45vw -22vh 0px 0px var(--brown),-37vw -40vh 0px 1px var(--brown),29vw 19vh 0px 1px var(--brown),4vw -8vh 0px 1px var(--brown),-5vw 21vh 1px 1px var(--brown),-27vw 26vh 1px 1px var(--brown),-47vw -3vh 1px 1px var(--brown),-28vw -30vh 0px 1px var(--brown),-43vw -27vh 0px 1px var(--brown),4vw 22vh 1px 1px var(--brown),36vw 23vh 0px 0px var(--brown),-21vw 24vh 1px 1px var(--brown),-16vw 2vh 1px 0px var(--brown),-16vw -6vh 0px 0px var(--brown),5vw 26vh 0px 0px var(--brown),-34vw 41vh 0px 0px var(--brown),1vw 42vh 1px 1px var(--brown),11vw -13vh 1px 1px var(--brown),48vw -8vh 1px 0px var(--brown),22vw -15vh 0px 0px var(--brown),45vw 49vh 0px 0px var(--brown),43vw -27vh 1px 1px var(--brown),20vw -2vh 0px 0px var(--brown),8vw 22vh 0px 1px var(--brown),39vw 48vh 1px 1px var(--brown),-21vw -11vh 0px 1px var(--brown),-40vw 45vh 0px 1px var(--brown),11vw -30vh 1px 0px var(--brown),26vw 30vh 1px 0px var(--brown),45vw -29vh 0px 1px var(--brown),-2vw 18vh 0px 0px var(--brown),-29vw -45vh 1px 0px var(--brown),-7vw -27vh 1px 1px var(--brown),42vw 24vh 0px 0px var(--brown),45vw -48vh 1px 0px var(--brown),-36vw -18vh 0px 0px var(--brown),-44vw 13vh 0px 1px var(--brown),36vw 16vh 0px 1px var(--brown),40vw 24vh 0px 0px var(--brown),18vw 11vh 0px 0px var(--brown),-15vw -23vh 1px 0px var(--brown),-24vw 48vh 0px 1px var(--brown),27vw -45vh 1px 0px var(--brown),-2vw -24vh 0px 1px var(--brown),-15vw -28vh 0px 0px var(--brown),-43vw 13vh 1px 0px var(--brown),7vw 27vh 1px 0px var(--brown),47vw 5vh 0px 0px var(--brown),-45vw 15vh 1px 1px var(--brown),-5vw -28vh 0px 1px var(--brown),38vw 25vh 1px 1px var(--brown),-39vw -1vh 1px 0px var(--brown),5vw 0vh 1px 0px var(--brown),49vw 13vh 0px 0px var(--brown),48vw 10vh 0px 1px var(--brown),19vw -28vh 0px 0px var(--brown),4vw 7vh 0px 0px var(--brown),21vw 21vh 1px 1px var(--brown),-15vw -15vh 0px 1px var(--brown),-6vw -42vh 1px 0px var(--brown),-15vw 48vh 1px 1px var(--brown),-23vw 25vh 1px 1px var(--brown),-48vw 25vh 0px 1px var(--brown),-31vw -19vh 0px 1px var(--brown),4vw 37vh 1px 1px var(--brown),-43vw 28vh 0px 0px var(--brown),3vw -25vh 0px 1px var(--brown),-39vw 14vh 0px 1px var(--brown),-40vw 31vh 0px 1px var(--brown),35vw -36vh 1px 1px var(--brown),16vw 49vh 0px 0px var(--brown),6vw 39vh 0px 0px var(--brown),3vw -35vh 0px 1px var(--brown),-44vw -2vh 1px 0px var(--brown),-6vw 21vh 1px 0px var(--brown),48vw 9vh 1px 1px var(--brown),-43vw 30vh 1px 1px var(--brown),29vw -12vh 1px 1px var(--brown),-48vw 13vh 1px 0px var(--brown),-42vw 32vh 1px 1px var(--brown),34vw 15vh 1px 1px var(--brown),29vw -37vh 1px 1px var(--brown),28vw 2vh 0px 0px var(--brown);
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

.index .content  {
    gap: 2em;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-blue);
    padding: 1.3em;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.logo {
    font-size: 2rem;
    margin-left: 2em;
    font-weight: 700;
    color: var(--gray);
}

.nav-menu{
    margin-right: 5em;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray);
    gap: 1em;
    font-size: 1.5rem;
}

.navbar .nav-items a{
    color: var(--gray);
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar .nav-items a:hover {
    color: var(--brown);
}

.content-sidebar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Hamburger Menu Styles */
#sidebar {
    width: 0;
    height: 100%;
    background-color: var(--dark-blue);
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 12;
  }

  #sidebar img {
    width: 50px;
    position: relative;
    margin-left: 1em;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: var(--gray);
    display: block;
    transition: 0.3s;
  }

  #sidebar li {
    margin: 2em 0;
    text-transform: uppercase;
    list-style: none;
    color: var(--dark-blue);
    padding: 0 2em;
  }

  #sidebar a:hover {
    color: var(--brown);
  }

  #open-btn {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: -20px;
    z-index: 10;
    font-size: 1.5rem;
    color: var(--white);
  }

/* Button */
.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: black;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }


/*  */
#main {
    position: relative;
}

/* Hero Section */
#hero .container {
    background: var(--dark-blue);
    position: relative;
    max-width: 100%;
}
.astronaut {
    position: relative;
    height: 500px;
    min-height: 300px;
}

#hero .content {
    margin-top: 3em;
}

.quote {
    max-width: 500px;
    color: var(--gray);
    font-size: 1.2rem;
}

.quote h2 {
    margin-bottom: 1em;
}

#hero .content button {
    background: var(--gray);
    color: var(--dark-blue);
    border-radius: 0.8em;
    transition: transform 0.5s linear;
}

#hero .content button:hover {
    transform: scale(1.1);
}

/* About Styles */
#about .content{
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.left-content h1 {
    margin-top: 1.5em;
}

.left-content p {
    max-width: 550px;
    font-size: 1.2rem;
    margin-left: 1em;
    margin-bottom: 1em;
    text-transform: capitalize;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.right-content img {
    margin-top: 2.5em;
    border-radius: 1em;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
    animation: tilt 2s infinite;
    max-height: 500px;
}

@keyframes tilt {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(3deg); /* Tilt to the right */
    }
    100% {
      transform: rotate(0deg);
    }
  }

/* Scrollup */
#scrollToTopBtn img {
    position: fixed;
    bottom: 70px;
    right: 20px;
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
  }
  
/* Scrollup Styles Ends */

/* Skills Style */
#skills .container {
    background-color: #283D48;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%233e5866' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23567382' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23728c9a' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%2394a4ac' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23b4bcc0' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23d2d5d6' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23EEE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#skills .content, #projects .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill, .project {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    color: var(--gray);
}

.expertise-container{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.expertise-container .expertise-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    margin-top: 2em;
    margin-right: 1em;
    padding: 2em 1em;
    border-radius: 1em;
}

.expertise-container .expertise-card img {
    max-width: 200px;
}

.expertise-container .expertise-title {
    font-size: 2rem;
}

.expertise-container .expertise-description {
    font-size: 1rem;
    font-weight: 500;
}

/* Projects Styles */
#projects .container {
    background-color: #283D48;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%234B7286' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23699FBC'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.project {
    color: var(--gray);
}

.card-container {
    display: flex;
    gap: 2.5em;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  
   .card1 {
    background-image: url("../images/arduino-proj1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
   
.card2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/arduino-proj2.png");
}

.card3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/arduino-proj3.png");
}

.card4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/arduino-proj4.png");
}

/* Contact Styles */
#contact .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}

#contact .container {
    max-height: 500px;
}

.contact {
    margin: 1em 0;
}

.social-card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 92px;
    height: 92px;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1em;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 27px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  

/* Footer Styles */
.footer-container {
    background: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.footer-container p {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--gray);
    font-family: "Poppins", sans-serif;
}




@media  (max-width: 1280px) {
    .container {
        max-width: 100%;
        height: 100%;
    }
    .content {
        margin-bottom: 3em;
    }
    .main { 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-right img {
        max-width: 700px;
    }
    .navbar {
        margin-left: 0;
    }
    .nav-links {
        display: none;
    }
    #open-btn {
        display: block;
    }
    #hero .content {
        margin-top: 1em;
    }

    #about .content {
        align-items: center;
    }

    #about p {
        font-size: 1rem;
    }
    #about .right-content img {
        max-width: 500px;
    }
    .expertise-container {
        grid-template-columns: 1fr;
    }
    .expertise-container .expertise-card {
        max-width: 300px;
    }
    #skills .expertise-title {
        font-size: 1.5rem;
    }
    

    #contact h1, #projects h1, #skills h1{
        font-size: 2rem;
    }

    .card-container {
        flex-direction: column;
    }
    .contact {
        margin-bottom: 2em;
    }
    #contact .social-card {
        width: 380px;
    }
    .card {
        max-width: 300px;
    }
}

@media  (max-width: 840px) {
    .container {
        padding: 1em 1em;
    }
    .astronaut {
        display: none;
    }
    .logo {
        font-size: 1rem;
        margin-left: 0;
    }
    .content {
        flex-direction: column;
        justify-content: center;
    }
    .content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 
    #about .left-content p {
        font-size: 0.8rem;
        max-width: auto;
        margin-left: 0;
    }
    #contact .social-card {
        width: 280px;
    }
    .socialContainer {
        width: 52px;
        height: 52px;
    }
    .socialSvg {
        width: 20px;
    }
}

@media  (max-width: 480px) {
    .quote {
        font-size: 1rem;
        text-align: center;
    } 
    .content-left h1 {
        font-size: 1.2rem;
    }
    .fancy {
        margin-top: -5em;
    }
    .content-right img {
        margin-top: 1em;
    }

    /* About */
    .left-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 400px;
        padding: 1em;
    }
    #about .title {
        font-size: 1.2rem;
    }
    #about p {
        font-size: 0.8rem;
    }
    .right-content img {
        margin-top: 0;
    }
    .expertise-container .expertise-card {
        width: 280px;
        height: 380px;
        margin-right: 0;
    }
    .expertise-container .expertise-title {
        font-size: 0.8rem;
    }
    .expertise-container .expertise-description {
        font-size: 0.7rem;
    }
    .contact h1 {
        margin-top: 0;
    }
    #contact .container {
        height: 500px;
    }
    .social-card{
        width: 400px;
    }
    .footer-container p {
        font-size: 0.7rem;
    }
    .card {
        max-width: 200px;
        max-height: 200px;
    }
}

